# Aurora Light by this project
# Neumorphic light companion to Aurora
# 2026-07-03 v1.0

wps: /.rockbox/wps/AuroraLight.wps
sbs: /.rockbox/wps/AuroraLight.sbs
selector type: bar (solid colour)
line selector start color: ffffff
line selector end color: ece6db
line selector text color: 23222a
filetype colours: -
foreground color: 23222a
background color: f4efe8
font: /.rockbox/fonts/19-Bricolage-Grotesque-Regular.fnt
statusbar: off
scrollbar: off
battery display: graphic
show icons: on
iconset: /.rockbox/icons/icons_5px.bmp
