# Aurora by this project
# Neumorphic dark default theme
# 2026-07-03 v1.0

wps: /.rockbox/wps/Aurora.wps
sbs: /.rockbox/wps/Aurora.sbs
selector type: bar (solid colour)
line selector start color: 2a2d3a
line selector end color: 1c1e26
line selector text color: e7e6ee
filetype colours: -
foreground color: e7e6ee
background color: 1c1e26
font: /.rockbox/fonts/19-Bricolage-Grotesque-Regular.fnt
statusbar: off
scrollbar: off
battery display: graphic
show icons: on
iconset: /.rockbox/icons/tango_icons.16x16.bmp
