# Obsede2 by Serge Fnstll
# 2026-05-31 v1.0

wps: /.rockbox/wps/Obsede2.wps
sbs: /.rockbox/wps/Obsede2.sbs
selector type: bar (solid colour)
line selector start color: 101010
line selector end color: 000000
line selector text color: ffffff
filetype colours: -
foreground color: ffffff
background color: 000000
font: /.rockbox/fonts/19-SF-Pro-Display-Regular.fnt
statusbar: off
scrollbar: off
battery display: graphical
show icons: on
iconset: /.rockbox/icons/icons_5px.bmp
#ui viewport: -