# .cfg file created by rockbox - http://www.rockbox.org

wps: /.rockbox/wps/Obsede2.wps
sbs: /.rockbox/wps/Obsede2.sbs
font: /.rockbox/fonts/19-SF-Pro-Display-Regular.fnt
iconset: /.rockbox/icons/icons_5px.bmp
selector type: bar (solid colour)
line selector start color: 101010
line selector end color: 000000
line selector text color: ffffff
foreground color: ffffff
background color: 000000
statusbar: off
scrollbar: off
battery display: graphical
show icons: on
